# Neon PostgreSQL Connection String
# e.g., postgresql://username:password@ep-cool-snowflake-123456.us-east-2.aws.neon.tech/neondb?sslmode=require
DATABASE_URL=

# NextAuth Configuration
AUTH_SECRET=pitchery_secret_super_secure_key_12345
AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=

# Public App URL
NEXT_PUBLIC_APP_URL=http://localhost:3000
